extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kyle Zunino

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a full stack JavaScript student with experience in JavaScript, Node.js, and Express. So far I have mostly worked on developing my skills in front end JS development, but I will be learning more back end developemnt in the coming months.
            | I will have experience in both front end and back end web developent by the time this course ends. I hope to have experience and a general understanding in all phases of the development process in order to deliver high quality products on a timely schedule.
            | My goal is to find a position that will allow me to use and grow my experience to create new, innovative software that is competitive in the market.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Node.js
          li Express
          li HTML
          li CSS 
          li Pug
          li jQuery
          li GitHub
        h6 Contact Info

        ul
          li 415-847-9699
          li kzunino@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/kylezunino/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/kzunino', target='_blank') GitHub
        a.button.expanded(href='https://www.instagram.com/kzunino/', target='_blank') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
